 :root{
    --colorgreenlight: #C0D8C0;
    --colorwhite: #F5EEDC;
    --colorrose: #DD4A48;
    --colorbege: #ECB390;
    --colorblack: #000;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Sans serif';
}
/* Header setup */
header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    height: 60px;
    background-color: var(--colorwhite);
    border-bottom: 1px solid;
    border-color: var(--colorrose);
}
#menu{
    display: flex;
    list-style: none;
    gap: .3rem;
}
/* Todos os  li a button*/
li, a ,button{
    font-size: 16px;
    font-weight: 500;
    color: var(--colorblack);
    text-decoration: none;
}
.logo{
    font-size: 18px;
    padding: 6px;
    border: 1px hidden;
    border-radius: 20px;
    border-color: var(--colorrose);
    transition: all 0.4s ease 0s; 
}
.logo:hover{
    color: var(--colordark);
    background-color: var(--colorbege);
    border: 1px hidden;
    border-radius: 25px;
}

/*--- botao menu ---*/
#btn-mobile{
    display: none;
}
@media (max-width: 600px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .3rem;
    }
    #hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--colorblack);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #navbar.active #hamburguer{
        border-top-color: transparent;
    }
    #navbar.active #hamburguer::before{
        transform: rotate(140deg);
    }
    #navbar.active #hamburguer::after{
        transform: rotate(-140deg);
        top: -7px;
    }
    #menu{
        display: block; 
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-color: var(--colorgreenlight);
        transition: .4s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navbar.active #menu{
        height: calc(100vh - 50px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: .5rem o;
        margin: 0 .5rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

}
/*------ Transições de Cursor ----*/
#navbar li a{
    display: block;
    transition: all 0.3s ease 0s; 
    padding: .4rem;  
}
#navbar li  a:hover{
    color: var(--colordark);
    background-color: var(--colorbege);
    border: 1px hidden;
    border-radius: 25px;
}
/*---/Transições de Cursor ----*/
.home_page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/img/bghomenutri.png);
    background-repeat: no-repeat;background-size: cover;
    width: 100%;
    height: 580px;
    position: relative;
}
.home_page img{
    width: 500px;
    height: 350px;
}
.text_home{
    font-size: 40px;
    font-weight: 500;
    width: 100px;
}
@media (max-width: 800px){
    .home_page{
        display: flex;
        flex-direction: column;
    }
    .text_home{
       display: flex;
       margin: 30px;
    }
    .home_page img{
        width: 370px;
        height: 250px;
    }
}
